body {
  margin: 0;
  text-align: center;
  background: #e5dfde;
  font-family: 'VT323', monospace;
}

.game-container {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  background-image: url('img/bg.svg');
  margin: 0 auto;
  background-repeat: no-repeat;
}

.character {
  width: 100px;
  position: absolute;
  left: 200px;
  bottom: 100px;
}

.character.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}

.blood-vial {
  width: 25px;
  position: absolute;
  top: -70px;
  animation: droppinBlood 4s linear forwards;
}

#blood-vial-1 {
  visibility: hidden;
}

@keyframes droppinBlood {
  to { transform: translateY(95vh); }
}

@media (max-width: 1175px) {
  .game-container {
    background-size: cover;
  }  
}